 <body>
 <div class="appsnew">
        <a href="https://web.whatsapp.com/"><img src="/images/gourmetFoods/whatsapp.png" alt="whatsapp" class="fixedicon"></a>
        <a href="https://www.facebook.com/"><img src="/images/gourmetFoods/facebook-icon.png" alt="facebook" class="fixedicon facebook"></a>
           
    </div>
    <section id="home">
        <div class="hero-content">
            <h1>GOURMET FOODS APP</h1>
            <p>Order, track, and review your favorite Gourmet products without any hassle.</p>
        </div>
        <div class="hero-image animated-box">
                <img src="/images/gourmetFoods/mobile.png" alt="Gourmet Foods App">
        </div>
    </section>
    <section id="app-features">
        <div class="heading">
            <h2><span class="span">GOURMET FOODS </span>APP FEATURES</h2>
            <hr class="hr">
        </div>
        <div class="features-container">
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/profile.svg" alt="Profile Icon"> 
                </div>
                <h3>Profile</h3>
                <p>A user/service provider can update their detailed profile and also add/remove their info from the application. It is ensured that information is not stored without the approval or knowledge of a user.</p>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/address.svg" alt="Address Icon"> 
                </div>
                <h3>Saved Address</h3>
                <p>Frequently visited addresses can be saved. This eliminates the repetitive entry of a location every time a user travels. For example, a user can add and then automatically choose their home address instead of typing it every time.</p>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/history.svg" alt="Order History Icon"> 
                </div>
                <h3>Order History</h3>
                <p>This feature keeps a record of the user's orders, the price and products of orders, as well as other information. It helps the user in case he/she needs to obtain information on their past trips.</p>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/payment.svg" alt="Payment Icon"> 
                </div>
                <h3>Multiple Payment Methods</h3>
                <p>This feature enables the user to pay through multiple modes like cash, card or any e-commerce payment applications, therefore, making it convenient for users to make payments.</p>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/tracking.svg" alt="Tracking Icon"> 
                </div>
                <h3>Live Order Tracking</h3>
                <p>Real-time tracking helps the customer to be aware of the location of their delivery.</p>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/reviewing.svg" alt="Reviewing Icon"> 
                </div>
                <h3>Reviewing</h3>
                <p>This feature helps with maintaining quality standards on the application based on feedback received from both service providers and customers.</p>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/deliverytime.svg" alt="Delivery Time Icon"> 
                </div>
                <h3>Estimated Delivery time</h3>
                <p>This feature allows the customer to view estimated time of arrival for the delivery.</p>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/chat.svg" alt="Chat Icon"> 
                </div>
                <h3>Chat</h3>
                <p>Customers and delivery personals can now chat in real time.</p>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/notification.svg" alt="Notification Icon"> 
                </div>
                <h3>Instant Notification</h3>
                <p>The app instantly alerts or notifies its users on order status, change/cancellation, payment notifications, etc.</p>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/callfeatures.svg" alt="Call Icon"> 
                </div>
                <h3>Call Features</h3>
                <p>Users of the application can communicate with the inbuilt call service provided for them.</p>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/deals and discounts.svg" alt="Deals Icon"> 
                </div>
                <h3>Deals and Discounts</h3>
                <p>This feature enables the users of the app to enjoy discounts and offers.</p>
            </div>
            <div class="item">
                <div class="icon">
                    <img src="/images/gourmetFoods/authentication.svg" alt="Authentication Icon"> 
                </div>
                <h3>Authentication</h3>
                <p>This feature helps with maintaining quality standards on the application based on feedback received from both service providers and customers.</p>
            </div>
        </div>
    </section>
    <section class="download">
            <div class="apps">
            <h1>DOWNLOAD <strong>GOURMET FOODS</strong> TODAY</h1>
            <hr class="hr">
            <h5>IOS App & Android App</h5>
            </div>
            <div class="app-links">
                <a href="https://apps.apple.com/pk/app/gfoods/id1525122912">
                    <img src="/images/gourmetFoods/apple.png" alt="Download on the App Store"><small>Download on the <strong>App Store</strong></small>
                </a>
                <a href="https://play.google.com/store/apps/details?id=com.gourmet_foods.GMart">
                    <img src="/images/gourmetFoods/google-play.png" alt="Get it on Google Play"><small>Get it on <br> <strong> Google Play</strong></small>
                </a>
            </div>
            <div class="qr-codes">
                <img src="/images/gourmetFoods/ios.png" alt="App Store QR Code">
                <img src="/images/gourmetFoods/android.png" alt="Google Play QR Code">
            </div>        
    </section>
    <section id="working" class="how_it_works">
        <div class="heading">
            <h1>APP <span>SCREENSHOTS</span></h1>
            <hr class="hr">
        </div>
        <div class="slider-container">
            <div class="mobile-frame">
                <img src="/images/gourmetFoods/iphone-frame.png" alt="Mobile Frame">
                <div class="screenshots-wrapper">
                    <div class="screenshots">
                        <img src="/images/gourmetFoods/login.webp" alt="Screenshot 1">
                        <img src="/images/gourmetFoods/my-account.webp" alt="Screenshot 2">
                        <img src="/images/gourmetFoods/search.webp" alt="Screenshot 3">
                        <img src="/images/gourmetFoods/cart.webp" alt="Screenshot 4">
                        <img src="/images/gourmetFoods/address.webp" alt="Screenshot 5">
                        <img src="/images/gourmetFoods/order-details.webp" alt="Screenshot 6">

                    </div>
                </div>
            </div>
            <div class="button">
            <!-- Buttons -->
            <li><a href="prev">&#10094;</a></li> 
            <li><a href="next">&#10095;</a></li>
             </div>
        </div>
    </section>
</body>

