<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Areej Fatima CV</title>
    <link rel="stylesheet" href="/public/css/cv.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />


</head>
<body>
    <div class="container">
        <div class="left-column">
            <div class="top-left">
                <h2>Areej Fatima</h2>
                <img src="/public/images/cv/Profile.jpeg" alt="Your Picture" id="profile-pic">
            </div>
            <div class="personal-details">
                <h2>Personal Details</h2>
                <hr>
                <p><i class="fa-solid fa-user"></i> Areej Fatima</p>
                <p><i class="fa-solid fa-envelope"></i> areej.fatima.ather@example.com</p>
                <p><i class="fa-solid fa-phone-flip"></i> +923246576792</p>
                <p><i class="fa-solid fa-house"></i> Flat#45/1, Ordinance State,Tufail Road,Lahore Cantt, Lahore</p>
                <p><i class="fa-solid fa-calendar-days"></i> April 28, 2004</p>
                <p><i class="fa-solid fa-venus-mars"></i> Female</p>
            </div>
                <div class="skills">
                    <h2>Skills</h2>
                    <hr>
                    <p>English Speaking and Understanding</p>
                </div>
                <div class="language">
                    <h2>Language</h2>
                    <hr>
                    <p>English Speaking and Understanding</p>
                </div>
                <div class="Hobbbies">
                    <h2>Hobbies</h2>
                    <hr>
                    <p><i class="fa-solid fa-square-full"></i> Travelling</p>
                    <p><i class="fa-solid fa-square-full"></i> Cooking</p>
                    <p><i class="fa-solid fa-square-full"></i> Learning Different Languages</p>
                </div>
                <div class="Qualities">
                    <h2>Qualities</h2>
                    <hr>
                    <p><i class="fa-solid fa-square-full"></i> Work Oriented</p>
                    <p><i class="fa-solid fa-square-full"></i> Complete Work Ahead of Time</p>
                </div>
        </div>
        
        <div class="right-column">
            <div class="introduction" id="introduction">
                <h2>Profile</h2>
                <hr>
                <p>I am a motivated Software Engineering student with strong skills in programming, problem-solving, and analytics. I thrive in both team and individual projects and am committed to continuous learning. I aim to apply my technical expertise and passion for technology to create impactful solutions while growing professionally.</p>
            </div>

            <div class="education">
                <h2>Education</h2>
                <hr>
                <ul>
                    <li><strong>Matric</strong></li>
                    <ul>
                        <li>Army Public School and College Westridge 3 ,Rawalpindi</li>
                        <li>Scored 1025/1100 (Science)</li>
                    </ul>
                    <li><strong>Intermediate</strong></li>
                    <ul>
                        <li>Army Public School and College Azam Garrison ,Lahore</li>
                        <li>Scored 1032/1100 (Pre-Medical)</li>
                    </ul>
                    <li><strong>BSc (Bachelors in Software Enginerring)</strong></li>
                    <ul>
                        <li>COMSATS Lahore</li>
                        <li>1st Semester Student</li>
                    </ul>
                </ul>
            </div>

            <div class="employment">
                <h2>Employment</h2>
                <hr>
                <p><strong>Tutor</strong> - Home Tuition (Feb 2021 - Nov 2021)</p>
                <p>Home Tution,Lahore</p>
                <p>Teaching students the subject which they need to improve and motivating them when they are sad about it</p>

            </div>

            
        </div>
    </div>

    <script src="/public/js/cv.js"></script>
</body>
</html>
