<footer> 
    <div class="wave">
        <img src="/images/gourmetFoods/hq-wave.svg" alt="ss">
    </div>
    <div class="footer-container">
        <div class="footer-section">
            <H5>Contact Us</H5>
            <li><a href="tel:042-111-111-678"> <i class="fa-solid fa-phone-volume"></i>042 111 111 678</a></li>
            <li><a href="mailto:homedelivery.team@gourmetpakistan.com"><i class="fa-solid fa-envelope-open-text"></i>homedelivery.team@gourmetpakistan.com</a></li>
            <li><i class="fa-solid fa-clock"></i>  10 AM – 10 PM</li>
        </div>
        <div class="footer-section">
            <h5> Get Info</h5>
            <li><a href="aboutus">About Us</a></li>
            <li><a href="helpcentre">Help Centre</a></li>
        </div>

        <div class="footer-section">
            <h5>Learn More</h5>
            <li><a href="faqs"> FAQs</a></li>
            <li><a href="privacypolicy">Privacy Policy</a></li>
            <li><a href="terms and conditions">Terms & Conditions</a></li>
        </div> 
        <div class="footer-links">
            <h5>Social Links</h5>
            <a href="gourmetfacebook" class="fb"><i class="fa-brands fa-facebook"></i></a>
            <a href="gourmetlinkedin" class="linkedin"><i class="fa-brands fa-linkedin"></i></a>
        </div>
        
    </div>
    <div class="footer-bottom">
        <p>© 2021 Developed by<a href="#GICOH"> <strong>GICOH</strong></a>. All Rights Reserved</p>
    </div>
</footer>